/*
 ================================
 Author: Araf Karim (@arafkarim)
 Template: Documentation Template
 Version: 1.0
 ================================
*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:400,700');
 
body {
	margin:0; 
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6{display: block; width: 100%;}
h1, h2, h3, h4, h5, h6, p{margin: 0; padding: 8px;}

ul{margin: 0;}
ul li{padding: 5px 0;}

/* topnav */
.topnav {
	overflow: hidden;
	background-color: rgba(52, 152, 219, 1);
	position: fixed; 
	top: 0; 
	width: 100%; 
	transition: .3s;
	z-index: 1000;
}
.topnav h2{
	background: #fff;
	margin: 0;
	padding: 18px;
	overflow: auto;
}
.topnav h2 span{
	float: right;
	font-size: 16px;
	font-weight: normal;
	line-height: 27px;
}
.topnav a {
	float: left;
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover {
	background-color: rgba(41, 128, 185, 1);
	color: #fff;
}
.topnav .icon {
	display: none;
	width: 100%;
	overflow: auto;
}
.topnav .icon span:nth-child(1){
	float: left;
}
.topnav .icon span:nth-child(2){
	float: right;
}
.topnav a:last-child,
.topnav a:last-child:hover{
	background: #2980b9;
	color: #fff;
}
.menu-right{
    display: block;
    float: right;
}
.hideTopnav{
	top: -63px;
}

/* accordian */
a.accordion,
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: block;
    text-decoration: none;
}
a.accordion{
  padding: 12px 12px 12px 30px;
  background: #f4f4f4;
}
a.accordion.active, 
button.accordion.active, 
button.accordion:hover, 
a.accordion:hover {
    background-color: #ddd;
}
button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
a.accordion.active:after,
button.accordion.active:after {
    content: "\2212";
}
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel{
    width: 100%;
    padding: 0 !important;
}
.table-cell{display: table;}
.col-table-cell{
	display: table-cell;
	min-height: 100vh;
}
.accordion-cover{background: rgba(0,0,0,0.1);}
.accordion-cover h3{
	font-weight: normal;
	font-size: 18px;
	padding: 14px 18px;
	background: rgba(0,0,0,0.1);
	display: block;
	width: 100%;
	margin: 0;
}

/* main-container */
.main-container{margin-top: 111px;}

/* notes */
.notes{
    background-color: rgba(52, 152, 219, 0.1);
    border-left: 6px solid rgba(52, 152, 219, 1);
    padding: 4px 12px;
    margin: 8px;
    width: 100%;
}

/* codepade */
.codepade{
	overflow: auto;
	width: 100%;
	border:solid rgba(52, 152, 219, 1);
	border-width: 1px 1px 1px 6px;
	padding: .2em .6em;
	margin: 8px;
	overflow: hidden;
}
.codepade pre{
	float: left;
	width: 110%;
	margin-left: -125px !important;
	margin: 10px 0 -5px;
	line-height: 125%
}
.codepade pre span{
	color: #008000;
	font-weight: bold
}

ol li {
    padding: 8px 0;
}
p { line-height: 22px;}